.game {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  position: relative;

  padding: 2em;

  &_entryList {
    list-style: none;
    width: 100%;
    display: grid;
    gap: 0.5em;
    margin-bottom: 1em;
  }

  &_degreeEntriesList {
    grid-template-columns: repeat(7, 5em);
  }

  &_chordEntriesList {
    grid-template-columns: repeat(5, 5em);
    justify-content: center;
  }

  &_symbolEntriesList {
    grid-template-columns: repeat(3, 5em);
    justify-content: center;
  }

  &_degreeBaseEntriesList {
    background-color: $clr-text;
    color: $clr-dark;
    border: none;
    text-align: center;
  }

  &_entry {
    width: 5em;
    height: 5em;
    background-color: $clr-dark;
    display: flex;
    justify-content: center;
    align-items: center;

    &_buttons {
      display: flex;
      justify-content: center;
      gap: 2em;
    }

    &_btn {
      height: 100%;
      width: 100%;
      background: none;
      border: none;
      cursor: pointer;
      color: $clr-text;
    }

    &_submitbtn {
      border: 1px solid $clr-text;
      border-radius: 20px;
      padding: 1em;
      width: 33%;
      align-self: center;

      transition: 200ms ease-in-out;

      &:hover {
        background-color: $clr-text;
        color: $clr-main;
      }
    }
  }

  &_howTo {
    position: absolute;
    width: 50%;
    height: fit-content;
    right: 5%;
    top: 0;
    background-color: $clr-dark;
    border: 1px solid $clr-text;

    z-index: 99;
  }

  &_howToBtn {
    background: none;
    border: none;
    border-radius: 50%;
    color: $clr-text;
    font-size: 2em;
    cursor: pointer;

    position: absolute;
    top: -9vh;
    right: 5%;
  }

  &_highscore {
    position: absolute;
    top: 0;
    right: 10%;

    border: 1px solid $clr-text;

    z-index: 99;
  }

  &_highscoreBtn {
    background: none;
    border: none;
    border-radius: 50%;
    color: $clr-text;
    font-size: 2em;
    cursor: pointer;

    position: absolute;
    top: -9vh;
    right: 10%;
  }
}

.entries {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.selected {
  background-color: $clr-text;
  color: $clr-dark;
}

.field {
  &_list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(8, 4em);
    gap: 0.2em;
    margin-bottom: 0.5em;
  }

  &_bar {
    width: 4em;
    height: 4em;
    background-color: $clr-dark;
    color: $clr-text;
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
  }
}

.active {
  background-color: $clr-text;
  color: $clr-dark;
}

.isCorrect {
  background-color: $clr-field-win;
}

.notRightPlace {
  background-color: $clr-field-notRightPlace;
  color: $clr-main;
}

.isFalse {
  background-color: $clr-field-loose;
}

.win {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &_container {
    width: 50%;
    height: 50%;
    z-index: 2;
    background-color: $clr-main;

    position: absolute;
    top: 10%;
    left: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  &_message {
    margin-top: 4em;
  }

  &_btn {
    padding: 1em 2em;
    background-color: $clr-text;
    border: 1px solid transparent;
    border-radius: 2em;
    cursor: pointer;

    transition: 200ms ease-in-out;

    &:hover {
      color: $clr-text;
      background: none;
      border: 1px solid $clr-text;
    }
  }
}

.loose {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 10%;
  left: 25%;

  &_container {
    z-index: 2;
    background-color: $clr-main;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  &_message {
    margin-top: 4em;
  }

  &_btn {
    padding: 1em 2em;
    background-color: $clr-text;
    border: 1px solid transparent;
    border-radius: 2em;
    cursor: pointer;

    transition: 200ms ease-in-out;

    &:hover {
      color: $clr-text;
      background: none;
      border: 1px solid $clr-text;
    }
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);

  position: absolute;
  top: 0;
  left: 0;
}

.game_hint {
  border: 1px solid $clr-text;
  background-color: $clr-dark;
  padding: 5em;
  width: 50vw;
  height: 30vh;

  position: absolute;
  top: 15%;
  left: 30%;

  &_sure {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  p {
    margin-top: 0.5em;
  }

  &_close_btn {
    background: none;
    border: none;
    font-size: 2em;
    color: $clr-text;
    cursor: pointer;

    position: absolute;
    top: 10%;
    right: 5%;
  }

  &_showHint_btn {
    background: none;
    color: $clr-text;
    border-radius: 2em;
    padding: 1em 2em;
    border: 1px solid $clr-text;
    cursor: pointer;
    margin-top: 1em;

    transition: 200ms ease-in-out;

    &:hover {
      background: $clr-text;
      color: $clr-dark;
    }
  }

  &_songtitle {
    &_container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .game {
    &_entryList {
      gap: 0.2em;
    }

    &_degreeEntriesList {
      grid-template-columns: repeat(7, 3em);
    }

    &_chordEntriesList {
      grid-template-columns: repeat(5, 3em);
      justify-content: center;
    }

    &_symbolEntriesList {
      grid-template-columns: repeat(3, 3em);
      justify-content: center;
    }

    &_degreeBaseEntriesList {
      font-size: 0.5em;
    }

    &_entry {
      width: 3em;
      height: 3em;

      &_btn {
        font-size: 0.5em;
      }

      &_submitbtn {
        &:hover {
          background: none;
          color: $clr-text;
        }
      }
    }

    &_howTo {
      width: 80%;
      left: 10%;
    }

    &_howToBtn {
      top: -20%;
    }

    &_highscore {
      width: 80%;
      left: 10%;
    }

    &_highscoreBtn {
      top: -10%;
      right: 5%;
    }
  }

  .entries {
    padding: 1em;
  }

  .field {
    &_list {
      grid-template-columns: repeat(8, 2.5em);
    }

    &_bar {
      width: 2.5em;
      height: 2.5em;

      span {
        font-size: 0.5em;
      }
    }
  }

  .win {
    &_container {
      width: 80%;
      left: 10%;
      padding: 2em;
    }
  }

  .loose {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    &_container {
      width: 80%;
      height: 50%;
      position: absolute;
      top: 10%;
      left: 10%;
      padding: 2em;
    }
  }
}
